@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GAS Airlines</h1>
    <div>
        <img style="position: absolute; left:0; right:0; top:0; bottom: 0; margin:auto auto; max-height: 75%; max-width: 75%" 
             src="~/Images/plane.jpg" alt="Problem loading home image" />
    </div>
</div>
